{% extends 'base.html' %} 
{% block title %}Home{% endblock %} 
{% block content %}

<section class="wrapper-section">
  <h1>Todo List</h1>
  <p>My list</p>
  {% if todos|length %}
  <ul>
    {% for todo in todos %}
    <div class="list">
      <form method="POST" action="/todo/update">
        {% csrf_token %}
        <input type="hidden" name="todo_id" value="{{todo.id}}" />
        <button class="todo-btn" type="submit">
          {% if todo.action == 'done' %}❌{% endif %}
        </button>
      </form>
      <li>{{ todo.name }}</li>
      <form method="POST" action="/todo/delete" style="margin-left: auto">
        {% csrf_token %}
        <input type="hidden" name="todo_id" value="{{todo.id}}" />
        <button
          class="delete-btn"
          type="submit">
          🗑️
        </button>
      </form>
    </div>
    {% endfor %}
  </ul>
  {% else %}
  <h3>Nothing to do!</h3>
  {% endif %} {% if error %}
  <p style="color: red">{{ error }}</p>
  {% endif %}

  <form method="POST" class="post-form">
    {% csrf_token %}
    <input
      type="text"
      name="name"
      required
      placeholder="Add a todo"
      class="input-style"
    />
    <button type="submit" class="input-style">🔀</button>
  </form>
</section>

<script></script>
<style>
  .list {
    display: flex;
  }
  .list li {
    list-style: none;
  }
  .list .todo-btn {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid grey;
    box-shadow: 0 0 5px grey;
  }
  .list .todo-btn:hover {
    box-shadow: 0 0 15px darkcyan;
  }
  .list .delete-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 0px;
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 10px;
    cursor: pointer;
    transition: 0.15s;
    box-shadow: 0 0 5px darkgrey;
  }
  .list .delete-btn:hover {
    box-shadow: 0 0 15px tomato;
  }
  .wrapper-section {
    max-width: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .input-style {
    border: 1px solid grey;
    border-radius: 5px;
    height: 30px;
    padding-inline: 10px;
  }
  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.522);
  }
  .post-form {
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .post-form button {
    background-color: antiquewhite;
    border:unset;
    cursor: pointer;
    transition: 0.15s;
    width: 40px;
    box-shadow: 0 0 5px darkgrey;
  }
  .post-form button:hover {
    box-shadow: 0 0 15px grey;
  }
</style>
{% endblock %}
